@model IEnumerable<ServiceScheduling_App.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceShift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceShift.ServiceShiftId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
